<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .form {
      min-height:100vh;
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="form">
    <div class="front">
      <form action="">
        <label for="email">Email</label>
        <input id="email" type="email">
        <label for="password">Password</label>
        <input id="password" type="text">
        <label for="password2">Enter Password Again</label>
        <input id="password2" type="password">
      </form>
    </div>
    <div class="back"></div>
    
  </div>
</body>
</html>