/* body{
  display:flex;
  align-items: center;
  justify-content: center;
  border:2px solid orange;
} */

#root{
  display:flex;
  align-items: center;
  justify-content: center;
  border:2px solid orange;
}

/* why body different*/

/* .app{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:2px solid orange;
} */