.div-style{
    height:100px;
    width:100px;
    background-color: orange;
    padding:10px;
    border:4px solid black;
    margin:10px;
}

.js-div-style{
    height:100px;
    width:100px;
    background-color: aliceblue;
    padding:10px;
    border:4px solid black;
    margin:10px;
}